if substyle == 1
  - var card1 = data.feat.solu1
  - var card2 = data.feat.solu2
  - var card3 = data.feat.solu2
else
  - var card1 = data.feat.solu1
  - var card2 = data.feat.solu2
  - var card3 = data.feat.solu3
if substyle == 1
  section.nst-module__featured-solutions.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mpl-m050-m-00-featured-solutions-2-columns(class=isGray==true?"ibm-background-neutral-white-30":"")
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.feat.subhead
    .ibm-columns(data-widget="setsameheight", data-items=".set-same-height")
      .ibm-col-6-1
      .ibm-col-6-2
        .ibm-card
          .ibm-card__image
            img.ibm-resize(src="#{card1.imgUrl}",alt="#{card1.imgAlt}")
          .ibm-card__content
            h3.ibm-light.ibm-h3= card1.title
            p.set-same-height.ibm-light.ibm-padding-top-1
            p.ibm-padding-top-1
              a(href="#{card1.ctaUrl}")= card1.cta
      .ibm-col-6-2
        .ibm-card
          .ibm-card__image
            img.ibm-resize(src="#{card2.imgUrl}",alt="#{card2.imgAlt}")
          .ibm-card__content
            h3.ibm-light.ibm-h3= card2.title
            p.set-same-height.ibm-light.ibm-padding-top-1
            p.ibm-padding-top-1
              a(href="#{card2.ctaUrl}")= card2.cta
else
  section.nst-module__featured-solutions.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mpl-m050-m-01-featured-solutions-3-columns(class=isGray==true?"ibm-background-neutral-white-30":"")
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.feat.subhead
    .ibm-columns(data-widget="setsameheight", data-items=".set-same-height")
      .ibm-col-6-2
        .ibm-card
          .ibm-card__image
            img.ibm-resize(src="#{card1.imgUrl}",alt="#{card1.imgAlt}")
          .ibm-card__content
            h3.ibm-light.ibm-h3= card1.title
            p.set-same-height.ibm-light.ibm-padding-top-1
            p.ibm-padding-top-1
              a(href="#{card1.ctaUrl}")= card1.cta
      .ibm-col-6-2
        .ibm-card
          .ibm-card__image
            img.ibm-resize(src="#{card2.imgUrl}",alt="#{card2.imgAlt}")
          .ibm-card__content
            h3.ibm-light.ibm-h3= card2.title
            p.set-same-height.ibm-light.ibm-padding-top-1
            p.ibm-padding-top-1
              a(href="#{card2.ctaUrl}")= card2.cta
      .ibm-col-6-2
        .ibm-card
          .ibm-card__image
            img.ibm-resize(src="#{card3.imgUrl}",alt="#{card3.imgAlt}")
          .ibm-card__content
            h3.ibm-light.ibm-h3= card3.title
            p.set-same-height.ibm-light.ibm-padding-top-1
            p.ibm-padding-top-1
              a(href="#{card3.ctaUrl}")= card3.cta
