section.nst-module__solution-overview-icons.ibm-padding-top-r2.removed-ibm-padding-bottom-r3(class=(substyle==3 || substyle==4)?"nst_mlp-m060-m-00-solution-overview-four-benefits-with-icons":"nst_mlp-m060-m-03-solution-overview-four-benefits-with-bullets")
  .ibm-band.ibm-background-warm-white-30.ibm-padding-top-2.ibm-padding-bottom-2
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.solusubhead
    .ibm-columns(class=(substyle==4 || substyle==6)? "ibm-padding-bottom-2": "ibm-padding-bottom-0")
      .ibm-col-6-3
        if substyle==3 || substyle==4
          img.ibm-inset(src="#{data.solu.solu1.imgUrl}",width="60", height="60",alt="#{data.solu.solu1.imgAlt}")
          h3.ibm-h4.ibm-light.ibm-padding-bottom-1= data.solu.solu1.feat
        else
          ul
            li
              h3.ibm-h4.ibm-light.ibm-padding-bottom-r1= data.solu.solu1.feat
      .ibm-col-6-3
        if substyle==3 || substyle==4
          img.ibm-inset(src="#{data.solu.solu2.imgUrl}",width="60", height="60",alt="#{data.solu.solu2.imgAlt}")
          h3.ibm-h4.ibm-light.ibm-padding-bottom-1= data.solu.solu2.feat
        else
          ul
            li
              h3.ibm-h4.ibm-light.ibm-padding-bottom-r1= data.solu.solu2.feat
    .ibm-columns(class=(substyle==4 || substyle==6)? "ibm-padding-bottom-2": "ibm-padding-bottom-0")
      .ibm-col-6-3
        if substyle==3 || substyle==4
          img.ibm-inset(src="#{data.solu.solu3.imgUrl}",width="60", height="60",alt="#{data.solu.solu3.imgAlt}")
          h3.ibm-h4.ibm-light.ibm-padding-bottom-1= data.solu.solu3.feat
        else
          ul
            li
              h3.ibm-h4.ibm-light.ibm-padding-bottom-r1= data.solu.solu3.feat
      .ibm-col-6-3
        if substyle==3 || substyle==4
          img.ibm-inset(src="#{data.solu.solu4.imgUrl}",width="60", height="60",alt="#{data.solu.solu4.imgAlt}")
          h3.ibm-h4.ibm-light.ibm-padding-bottom-1= data.solu.solu4.feat
        else
          ul
            li
              h3.ibm-h4.ibm-light.ibm-padding-bottom-r1= data.solu.solu4.feat
    if substyle==4||substyle==6
      .ibm-columns(class=(substyle==4 || substyle==6)? "ibm-padding-bottom-2": "ibm-padding-bottom-0")
        .ibm-col-6-3
          if substyle==3 || substyle==4
            img.ibm-inset(src="#{data.solu.solu5.imgUrl}",width="60", height="60",alt="#{data.solu.solu5.imgAlt}")
            h3.ibm-h4.ibm-light.ibm-padding-bottom-1= data.solu.solu5.feat
          else
            ul
              li
                h3.ibm-h4.ibm-light.ibm-padding-bottom-r1= data.solu.solu5.feat
        .ibm-col-6-3
          if substyle==3 || substyle==4
            img.ibm-inset(src="#{data.solu.solu6.imgUrl}",width="60", height="60",alt="#{data.solu.solu6.imgAlt}")
            h3.ibm-h4.ibm-light.ibm-padding-bottom-1= data.solu.solu6.feat
          else
            ul
              li
                h3.ibm-h4.ibm-light.ibm-padding-bottom-r1= data.solu.solu6.feat
