if substyle == 5
  section.nst-module__asset-promo.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m030-m-00-asset-promo-image
    .ibm-columns
      .ibm-col-2-1.ibm-col-medium-1-1
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.asset.subhead
        p.ibm-h4.ibm-light= data.asset.body
        p.ibm-btn-row.ibm-padding-top-2
          a.ibm-btn-pri.ibm-btn-orange-50(href="#{data.asset.ctaUrl}",rel="external")= data.asset.cta
      .ibm-col-2-1.ibm-col-medium-1-1.ibm-padding-bottom-2.ibm-hidden-small.ibm-hidden-medium
        img(src="#{data.asset.imgUrl}",alt="#{data.asset.imgAlt}")
else
  section.nst-module__asset-promo.ibm-padding-top-r2.removed-ibm-padding-bottom-r3.nst_mlp-m030-m-01-asset-promo-video
    .ibm-columns
      .ibm-col-2-1.ibm-col-medium-1-1
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.asset.subhead
        p.ibm-h4.ibm-light= data.asset.body
        p.ibm-btn-row.ibm-padding-top-1
          a.ibm-btn-pri.ibm-btn-orange-50(href="#{data.asset.videoUrl}") Watch the video
      .ibm-col-2-1.ibm-col-medium-1-1.ibm-padding-bottom-2.ibm-hidden-small.ibm-hidden-medium
        #asset-promo-vid(data-widget="videoplayer", data-videoid="flXFf8M6dWI", data-showvideotitle="false", data-showvideoduration="false", data-videodisplay="inline", data-videotype="youtube")
          a(href="#{data.asset.videoUrl}") Watch the video
