if substyle == 1
  section.nst-module__introduction-col-1.nst_mlp-m020-m-00-intro-text-only-single-column
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.intro.subhead
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        p.ibm-light= data.intro.column1
else if substyle == 2
  section.nst-module__introduction-col-1.ibm-padding-top-r2.removed-ibm-padding-bottom-r3.nst_mlp-m020-m-02-intro-text-only-two-columns
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.intro.subhead
    .ibm-columns
      .ibm-col-6-3
        p.ibm-light= data.intro.column1
      .ibm-col-6-3
        ul.ibm-light
          each item in data.intro.column2
            li= item
else if substyle == 3
  section.nst-module__introduction-col-1.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m020-m-01-intro-single-column-cta
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.intro.subhead
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        p.ibm-light= data.intro.column1
      .ibm-col-6-4.ibm-center-block.ibm-center
        p.ibm-btn-row.ibm-padding-top-2
          a.ibm-btn.ibm-btn-pri.ibm-btn-orange-50(href="#{data.intro.ctaUrl}")= data.intro.cta
else
  section.nst-module__introduction-col-1.ibm-padding-top-r2.removed-ibm-padding-bottom-r3.nst_mlp-m020-m-03-intro-two-columns-cta
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.ibm-center
      h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.intro.subhead
    .ibm-columns
      .ibm-col-6-3
        p.ibm-light= data.intro.column1
      .ibm-col-6-3
        ul.ibm-light
          each item in data.intro.column2
            li= item
    .ibm-columns
      .ibm-col-1-1
        .ibm-card
          .ibm-card__content
            .ibm-columns.ibm-vertical-center.ibm-padding-top-1.ibm-padding-bottom-1
              .ibm-col-6-5.ibm-col-small-1-1
                h3.ibm-h3.ibm-light= data.intro.ctaLeadIn
              .ibm-col-6-1.ibm-right.ibm-col-medium-6-2
                br.ibm-br-small
                br.ibm-br-small
                a.ibm-btn.ibm-btn-pri.ibm-btn-orange-50(rel="external", href="#{data.intro.ctaUrl}")= data.intro.cta
