if substyle == 7
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-00-step-by-step-3-steps-with-images-and-individual-ctas
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
    .ibm-columns.ibm-seamless.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
      .ibm-col-6-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step1.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step1.title
        p.ibm-light= data.step.step1.desc
        p.ibm-padding-bottom-0.ibm-light
          a(href="#{data.step.step1.ctaUrl}", rel="external")= data.step.step1.cta
      .ibm-col-6-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        .ibm-padding-bottom-1(src="#{data.step.step2.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step2.title
        p.ibm-light= data.step.step2.desc
        p.ibm-padding-bottom-0.ibm-light
          a(href="#{data.step.step2.ctaUrl}", rel="external")= data.step.step2.cta
      .ibm-col-6-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        .ibm-padding-bottom-1(src="#{data.step.step2.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step2.title
        p.ibm-light= data.step.step2.desc
        p.ibm-padding-bottom-0.ibm-light
          a(href="#{data.step.step2.ctaUrl}", rel="external")= data.step.step2.cta
else if substyle == 8
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-04-step-by-step-4-steps-with-images-and-individual-ctas
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
    .ibm-columns.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step1.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step1.title
        p.ibm-light= data.step.step1.desc
        p.ibm-padding-bottom-0.ibm-light
          a(href="#{data.step.step1.ctaUrl}", rel="external")= data.step.step1.cta
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step2.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step2.title
        p.ibm-light= data.step.step2.desc
        p.ibm-padding-bottom-0.ibm-light
          a(href="#{data.step.step2.ctaUrl}", rel="external")= data.step.step2.cta
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step3.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step3.title
        p.ibm-light= data.step.step3.desc
        p.ibm-padding-bottom-0.ibm-light
          a(href="#{data.step.step3.ctaUrl}", rel="external")= data.step.step3.cta
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step4.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step4.title
        p.ibm-light= data.step.step4.desc
        p.ibm-padding-bottom-0.ibm-light
          a(href="#{data.step.step4.ctaUrl}", rel="external")= data.step.step4.cta
else if substyle == 9
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-01-step-by-step-3-steps-with-images-and-cta
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
    .ibm-columns.ibm-seamless.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
      .ibm-col-6-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step1.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step1.title
        p.ibm-light= data.step.step1.desc
        p.ibm-padding-bottom-0.ibm-light
      .ibm-col-6-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step2.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step2.title
        p.ibm-light= data.step.step2.desc
        p.ibm-padding-bottom-0.ibm-light
      .ibm-col-6-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step3.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step3.title
        p.ibm-light= data.step.step3.desc
        p.ibm-padding-bottom-0.ibm-light
    .ibm-columns
      .ibm-col-1-1
        .ibm-card
          .ibm-card__content
            .ibm-columns.ibm-vertical-center.ibm-padding-top-1.ibm-padding-bottom-1
              .ibm-col-6-5.ibm-col-small-1-1
                h3.ibm-h3.ibm-light= data.step.ctaLeadIn
              .ibm-col-6-1.ibm-right.ibm-col-medium-6-2
                br.ibm-br-small
                br.ibm-br-small
                a.ibm-btn.ibm-btn-pri.ibm-btn-orange-50(href="#{data.step.ctaUrl}", rel="external")= data.step.cta
else if substyle == 10
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-05-step-by-step-4-steps-with-images-and-cta
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
    .ibm-columns.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step1.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step1.title
        p.ibm-light= data.step.step1.desc
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step2.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step2.title
        p.ibm-light= data.step.step2.desc
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step3.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step3.title
        p.ibm-light= data.step.step3.desc
      .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r2.ibm-padding-top-r2.ibm-center
        img.ibm-padding-bottom-1(src="#{data.step.step4.imgUrl}", alt="" )
        h4.ibm-h4.ibm-light= data.step.step4.title
        p.ibm-light= data.step.step4.desc
    .ibm-columns
      .ibm-col-1-1
        .ibm-card
          .ibm-card__content
            .ibm-columns.ibm-vertical-center.ibm-padding-top-1.ibm-padding-bottom-1
              .ibm-col-6-5.ibm-col-small-1-1
                h3.ibm-h3.ibm-light= data.step.ctaLeadIn
              .ibm-col-6-1.ibm-right.ibm-col-medium-6-2
                br.ibm-br-small
                br.ibm-br-small
                a.ibm-btn.ibm-btn-pri.ibm-btn-orange-50(href="#{data.step.ctaUrl}", rel="external")= data.step.cta
else if substyle == 11
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-02-step-by-step-3-steps-with-individual-ctas
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
      .ibm-columns.ibm-seamless.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
        .ibm-col-6-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 1.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step1.title
          p.ibm-light= data.step.step1.desc
          p.ibm-padding-bottom-0.ibm-light
            a(href="#{data.step.step1.ctaUrl}", rel="external")= data.step.step1.cta
        .ibm-col-6-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 2.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step2.title
          p.ibm-light= data.step.step2.desc
          p.ibm-padding-bottom-0.ibm-light
            a(href="#{data.step.step2.ctaUrl}", rel="external")= data.step.step2.cta
        .ibm-col-6-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 3.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step3.title
          p.ibm-light= data.step.step3.desc
          p.ibm-padding-bottom-0.ibm-light
            a(href="#{data.step.step3.ctaUrl}", rel="external")= data.step.step3.cta
else if substyle == 12
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-06-step-by-step-4-steps-with-individual-ctas
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
      .ibm-columns.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 1.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step1.title
          p.ibm-light= data.step.step1.desc
          p.ibm-padding-bottom-0.ibm-light
            a(href="#{data.step.step1.ctaUrl}", rel="external")= data.step.step1.cta
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 2.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step2.title
          p.ibm-light= data.step.step2.desc
          p.ibm-padding-bottom-0.ibm-light
            a(href="#{data.step.step2.ctaUrl}", rel="external")= data.step.step2.cta
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 3.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step3.title
          p.ibm-light= data.step.step3.desc
          p.ibm-padding-bottom-0.ibm-light
            a(href="#{data.step.step3.ctaUrl}", rel="external")= data.step.step3.cta
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 4.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step4.title
          p.ibm-light= data.step.step4.desc
          p.ibm-padding-bottom-0.ibm-light
            a(href="#{data.step.step4.ctaUrl}", rel="external")= data.step.step4.cta
else if substyle == 13
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-03-step-by-step-3-steps-with-cta
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-padding-bottom-r2ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
      .ibm-columns.ibm-seamless.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
        .ibm-col-6-2.ibm-padding-bottom-r2
          h4.ibm-h1.ibm-bold 1.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step1.title
          p.ibm-light= data.step.step1.desc
        .ibm-col-6-2.ibm-padding-bottom-r2
          h4.ibm-h1.ibm-bold 2.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step2.title
          p.ibm-light= data.step.step2.desc
        .ibm-col-6-2.ibm-padding-bottom-r2
          h4.ibm-h1.ibm-bold 3.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step3.title
          p.ibm-light= data.step.step3.desc
      .ibm-columns
        .ibm-col-1-1
          .ibm-card
            .ibm-card__content
              .ibm-columns.ibm-vertical-center.ibm-padding-top-1.ibm-padding-bottom-1
                .ibm-col-6-5.ibm-col-small-1-1
                  h3.ibm-h3.ibm-light= data.step.ctaLeadIn
                .ibm-col-6-1.ibm-right.ibm-col-medium-6-2
                  br.ibm-br-small
                  br.ibm-br-small
                  a.ibm-btn.ibm-btn-pri.ibm-btn-orange-50(href="#{data.step.ctaUrl}", rel="external")= data.step.cta
else
  section.nst-module__step-by-step.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m040-m-07-step-by-step-4-steps-with-cta
    .ibm-columns
      .ibm-col-6-4.ibm-col-medium-1-1.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light.ibm-padding-bottom-2= data.step.subhead
      .ibm-columns.ibm-widget-processed(data-widget="setsameheight", data-items=">div")
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 1.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step1.title
          p.ibm-light= data.step.step1.desc
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 2.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step2.title
          p.ibm-light= data.step.step2.desc
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 3.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step3.title
          p.ibm-light= data.step.step3.desc
        .ibm-col-4-1.ibm-col-medium-4-2.ibm-padding-bottom-r1
          h4.ibm-h1.ibm-bold 4.
          .ibm-h4.ibm-light.ibm-padding-bottom-1= data.step.step4.title
          p.ibm-light= data.step.step4.desc
      .ibm-columns
        .ibm-col-1-1
          .ibm-card
            .ibm-card__content
              .ibm-columns.ibm-vertical-center.ibm-padding-top-1.ibm-padding-bottom-1
                .ibm-col-6-5.ibm-col-small-1-1
                  h3.ibm-h3.ibm-light= data.step.ctaLeadIn
                .ibm-col-6-1.ibm-right.ibm-col-medium-6-2
                  br.ibm-br-small
                  br.ibm-br-small
                  a.ibm-btn.ibm-btn-pri.ibm-btn-orange-50(href="#{data.step.ctaUrl}", rel="external")= data.step.cta
